
/* .abouth1{
   background-color: rgb(68, 233, 153);
   width: 300px;
   
}
.abouth2{
    background-color: rgb(68, 233, 153);
    width: 500px;
} */
.flowchart{
    width: 50%;
}

.card:hover{
    width: 20rem;
    z-index: 2;
}
.nav-item{
    text-align: center;
    padding-right: 50px;
}
.home{
    margin-left: 200px;
}
.navbar-brand{
    margin-left: 100px;
}
.navbar{
    background-color: #e3f2fd;
}
.card-body{
    background-color: #c3e2f8;
}